/*RESET*/
b, strong{font-weight: bold;}
mark{padding: 5px 10px; background-color: #eee;}
ul{list-style: none;}
/*img{ border: none; max-width: 100%; vertical-align: middle;}*/
small{font-size: 0.75em; color: #555;}
a{text-decoration: none;}